html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  background-color: white;  
  font-size: 14px;
}
.container{
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  -webkit-align-items: stretch; /* Safari */
  align-items: stretch;
}

#top{
  max-height: 14vh;
  background-color: #0099cc;
  color: white;
  min-height: 14vh;
  height: 14vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}

#mid{
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-width: 100%;
  min-height: 80vh;
  top: 14vh;
  left: 0;
  overflow: hidden;
  position: relative;
  z-index:1;
  bottom: 10vh;
}

#bottom{
  background-color: #0099cc;
  color: white;
  min-height: 10vh;
  max-height: 10vh;
  min-width: 100%;
  position: fixed;
  bottom: 0vh;
  height: 10vh;
  left: 0;
  z-index:10;
}
#clock{
  padding: 5px;
  font-size: 10px;
  display: flex;
  align-items: flex-start;
}
#clock div{
  padding-right: 5px;
}
#today{
  top: 20px;
  min-width: 20%;
}
#count{
  display: flex;
  width: 98%;
  justify-content: flex-end
}
#navbar{
  padding: 2vh;
  font-size: 10px;
  display: flex;
  align-items: flex-start;
}
#navbar div{
  padding-right: 15px;
  text-align: top;
}
#edit{color: rgb(86, 86, 134); font-size: 200%;}
#plus{color:rgb(86, 86, 134); font-size: 200%;}
#plus:hover{color:rgb(53, 53, 138); font-size: 210%;}
#trash{color: rgb(86, 86, 134); font-size: 200%;}
#wipe{color: rgb(86, 86, 134); font-size: 200%;}
#wipe:hover{color:rgb(53, 53, 138); font-size: 210%;}
#todos{
  margin-top: 6vh;
  width: 100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 14vh;
}
h1{
  color: rgb(76, 76, 136);
  background: linear-gradient(110deg, #0099cc 60%, rgb(116, 203, 224) 60%);
  font-family: 'Six Caps';
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 10px;
  margin-bottom: 30px; 
  text-indent: 20px;
  text-transform: uppercase;
}
#add-to-do-wrap{display:none; width: 100%; background-color: rgb(62, 62, 95);}
#new-todo-input {
  width: 100%;
  background-color: rgb(116, 203, 224);
  border: 0;
  padding-left: 8px;
  flex: 1;
  left: 0;
  top: 0;
}
#new-todo-input:focus {
  opacity: .9;
}
#addme{
  width: 100%;
  height: 7vh;
  display:flex;
}
#add-to-do-wrap button{
  background-color: #0099cc;
  border: 0;
  outline: 0;
  color: white;
  min-width: 15%;
  max-width: 15%;
  margin: 0;
  flex: 0;
  white-space: nowrap;
  font-size: 84%;
}

#title{
  background-color: rgb(86, 86, 134);
  width:100%;
}

icon{
  color: rgb(86, 86, 134);
  background: #ededed;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
}
icon:hover{
  color: rgb(66, 66, 128);
}
icon:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
   box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
input{
  background-color: transparent;
  font-size: 120%;
  border: 0;
  outline: 0;
  padding: 6px;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgb(86, 86, 134);
}
.checked {
  width: 16px;
  height: 16px;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  margin-right:10px;
  }

.checkdate {
  font-size: 100%;
  color: rgb(86, 86, 134);
  padding-right: 5px;
  min-width: 40px;
}
  
.created{
  font-size: 100%;
  color: rgb(86, 86, 134);
  padding-right: 5px;
  min-width: 40px;
}
.todo{
  display: flex;
}

#todos-container{
   min-width: 100%;
   background-color: transparent;
  }

  #inline-todo{
    background-color: transparent;
  }

  #inline-todo .row{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col{
    padding: 16px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1 1 10px;
    flex-direction: column;
    color: white;
    box-sizing:border-box;
    flex-wrap: nowrap;
  }
  
#inline-todo .row:nth-child(even){
  background-color: rgb(154, 216, 231);
}

.inline-checkbox{width: 80px; flex: 0 0 80px; background-color: transparent;}
.inline-createdate{width: 130px; flex: 0 0 130px; background-color: transparent;}
.inline-checkboxdate{width: 130px; flex: 0 0 130px; background-color: transparent;}
.inline-text{background-color: transparent;}
.inline-del{width: 80px; flex: 0 0 80px;background-color: transparent;}
.inline-edit{width: 80px; flex: 0 0 80px; background-color: transparent;}
.inline-priority{width: 80px; flex: 0 0 80px; background-color: transparent;}

#sortrow{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.sortcol{
  margin: 6px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  box-sizing:border-box;
  flex-wrap: nowrap;
}
.sortcheck{width: 80px; flex: 0 0 80px; background-color: transparent;}
.sortcreate{width: 40px; flex: 0 0 40px; background-color: transparent;}
.sortcheckboxdate{width: 130px; flex: 0 0 130px; background-color: transparent;}
#sort-todos-btn{
  background-color: transparent;
  border: 0;
  outline: 0;
  color: red;
  font-size: 140%;
  max-width: 25px;
}

.priority i{
  color:  #a3c018;
}

  label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{
    cursor:pointer;
    max-width: 20px;
    border:2px solid transparent;
  }
  label > input:checked + img{ 
    border:2px solid #f00;
  }
  button {
    background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    text-transform: none;
  }

  button:focus {
    outline: none;
}

#exclamation{
  background: #ededed;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}


#exclamation:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  text-transform: none;
}

#exclamation:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {

  .inline-text{width: 90vw; flex: 0 0 90vw;}
}